.subscription-plan-container {
    padding: 0px 16px 16px 16px;
    gap: 12px;
    isolation: isolate;
    background: #D7EDDD;
    border: 2px solid #47BA68;
    border-radius: 4px;
    margin-bottom: 16px;
    color: #3C4852;
}

.expired-subscription-plan-container {
    background: #E7E7E7;
    border: 2px solid #BEBEBE;
    color: #BEBEBE;
}

.selected-plan-container {
    background: #D7EDDD;
    border: 2px solid #47BA68;
}

.not-selected-plan-container {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
}

.subscription-plan-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.subscription-plan-amount input[type=radio] {
    display: none;
}

.month-subscription-container {
    display: flex;
    align-items: center;
}

.select-icon {
    width: 25px;
    margin-right: 15px;
}

.month-subscription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    margin: 0 15px 0 0;
}

.month-total-amount-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.month-amount {
    margin: 1px 0 1px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
}

.amount {
    font-weight: 600;
    font-size: 16px;
    margin-left: 5px;
}

.month {
    font-weight: 500;
    font-size: 10px;
    margin-left: 5px;
    color: #BEBEBE;
}

.recommended {
    position: relative;
    width: 121px;
    height: 16px;
    left: 42px;
    top: 0px;
    background: #47BA68;
    border-radius: 0px 0px 4px 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}

.expired {
    background: #F77171;
}

.hide-display {
    background-color: transparent;
    color: transparent;
}